<!DOCTYPE html>
<html>
<head>
<script>
function init(stamp){
  var timer = document.getElementById('timer');
  if (timer != null) {
    initTimer(timer);
  } else {
    startTime(stamp);
  }
}

function initTimer(elem){
  var now = new Date();
  var nowString = now.getHours() + ":" + now.getMinutes();
  elem.setAttribute("value", nowString);
}

function startTime(stamp){
  var elem = document.getElementById('txt');
  var due  = new Date(stamp);
  var h    = due.getHours();
  var m    = due.getMinutes();
  var s    = due.getSeconds();
  var d    = diff(due);

  // add a zero in front of numbers < 10
  if (elem){
    h  = checkTime(h);    
    m  = checkTime(m);
    s  = checkTime(s);
    c  = countdown(d);
    document.getElementById('txt').innerHTML = c + " (" +h+":"+m+":"+s+ ")";
  }

  if (d == 0){
    doneCounting();
  }
  else {
    t = setTimeout(function(){startTime(stamp)}, 1000);
  }
}

function doneCounting(){
  alert("The tea is ready!");
  document.location.reload();
}

function checkTime(i){
  if (i < 10){
    i = "0" + i;
  }
  return i;
}

function diff(dueDate){
  var now  = new Date();
  var d    = Math.floor((dueDate - now) / 1000);
  if (d < 0){
    throw("Can't have due dates in the past!");
  }

  return d;
}

function countdown(d){
  var min = Math.floor(d / 60);
  var sec = Math.floor(d % 60);
  
  min = checkTime(min);
  sec = checkTime(sec);

  return min + ":" + sec;
}
</script>
</head>

<body onload="init({{danlik.brew}})">

{{#danlik}}

{{#danlik.brew}}
<h3>The tea will be ready in <span id="txt"></span></h3>
{{/danlik.brew}}

{{^danlik.brew}}
<h3>The teapot is off</h3>
<form method="post" id="started-at" action="/">
  <p>I started it at: 
    <input type="time" name="stamp" id="timer" />
    <input type="submit" value="set" />
  </p>
</form>
{{/danlik.brew}}

{{/danlik}}

</body>
</html>

